//引入变量文件
@import 'var';


.container{
    width: 1210px;
    padding:0;
    font:$fontFamily;
}
body{background: #f5f5f5 !important;}

#goods{
    
    .crumbs{
        height: 35px !important;
        line-height: 35px !important;
        border: 1px solid #efebeb !important;
    }
    .v7_rxcrumb{
        height: 35px;
        line-height: 35px;
        color: #888888;
        background: #fff;
        text-indent: 10px;
    }
    .goodsImg_t{
        padding-top: 10px;
        >div{
            width: 403px;
            float: left;
        }
    }
    .goods_cont{
        background: #fff;
        zoom: 1;
        margin-top:20px;
        border:1px solid #ddd;
        .goods_cont_l{
            width: 400px;
            min-height: 600px;
            float: left;
            position: relative;
            .wr{
                width: 400px;
                height:474px;
                .showbox{
                    width: 398px;
                    height: 398px;
                    position: relative;
                    left:0;
                    top:0;
                    background: #eee;
                    z-index: 10;border: 1px solid #eeeeee;
                }

                /* smallImg */
                .smallImg{position:relative; height:52px; margin-top:1px; background-color:#F1F0F0; padding:6px 5px; width:390px; overflow:hidden;float:left;}
                .scrollbutton{width:14px; height:50px; overflow:hidden; position:relative; float:left; cursor:pointer; }
                .scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{background:url(../images/goods/zoom/d_08.png) no-repeat;}

                .scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{background:url(../images/goods/zoom/d_09.png) no-repeat; margin-left:375px; margin-top:-50px;}

                #imageMenu {height:50px; width:360px; overflow:hidden; margin-left:0; float:left;}
                #imageMenu li {height:50px; width:60px; overflow:hidden; float:left; text-align:center;}
                #imageMenu li img{width:50px; height:50px;cursor:pointer;}
                #imageMenu li#onlickImg img, #imageMenu li:hover img{ width:60px; height:60px; border:1px solid #f03b43;}
                /* bigImg */
                .bigImg{position:relative; float:left; width:400px; height:400px; overflow:hidden;}
                .bigImg #midimg{width:400px; height:400px;}
                .bigImg #winSelector{width:235px; height:210px;}
                #winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}
                /* bigView */
                #bigView{position:absolute;border: 1px solid #959595; overflow: hidden; z-index:999;}
                #bigView img{position:absolute;}
            }
            .v7_packaging{
                color: #787878;
                padding: 20px;
                line-height: 20px;
            }
            .v7_proshare{
                padding: 0px 20px;
                >div{padding-top:5px;float:left;padding-right:5px;}
                a{
                    float: left;display:block;
                    font-size: 12px;
                    padding-left: 17px;
                    line-height: 16px;
                    height: 16px;
                    background: url('../images/goods/share.png')no-repeat;
                    cursor: pointer;
                    margin: 6px 6px 6px 0;
                    &:hover{color:#333;opacity: .8;}
                    &:nth-child(3){background-position: 0 -52px;}
                    &:nth-child(4){background-position: 0 -104px;}
                    &:nth-child(5){background-position: 0 -260px;}
                    &:nth-child(6){background-position: 0 -208px;}
                    &:nth-child(7){background-position: 0 -1612px;}
                }
            }
            
        }
        .goods_cont_r{
            width: 808px;
            height:605px;
            float: right;
            .mainContent{
                width: 531px;
                padding: 20px 0px 40px 26px;
                float: left;
                h1{
                    min-height: 25px;
                    line-height: 25px;
                    font-size: 18px;
                    font-weight: bold;
                    color: #000;
                    font-family: 'Microsoft yahei';
                    i{
                        width: 42px;height: 20px;
                        display: block;
                        float: left;
                        margin: 4px 5px auto 0px;
                        background:url('../images/goods/goods_spirpt.png') -111px -252px no-repeat;
                    }
                }
                .priceBox   {
                    min-height: 48px;
                    line-height: 48px;
                    margin-top: 15px;
                    position: relative;
                    font-family: 'Microsoft yahei';
                    background: url(../images/goods/pricebg.jpg) left top no-repeat #fef9f6;
                    .leftlabel {
                        width: 60px;
                        line-height: 18px;
                        margin-top: 15px;
                        height: 18px;
                        float: left;
                        padding-left: 9px;
                    }
                    .goods_price{
                        min-height: 48px;
                        float: right;
                        color: #f54343;
                        font-weight: bold;
                        font-size: 28px;
                        width: 420px;
                    }
                }
                .summary1{
                    display: block;
                    font-size: 12px;
                    color: #666666;
                    font-family: Arial,Verdana,'宋体';min-height: 50px;
                    margin-top:15px;
                    li{
                        line-height: 18px;
                        padding: 4px 0;
                        display: block;
                        font-size: 12px;
                        color: #666666;
                        font-family: Arial,Verdana,'宋体';
                        overflow:hidden;
                        .dt{
                            display:block;
                            width: 68px;
                            float: left;
                            color: #9b9b9b;
                        }
                        .dd,.guige{
                            display:block;
                            width: 430px;
                            min-height: 15px;
                            float: left;
                            margin-left: 5px;
                        }
                        .guige{
                            width:120px;text-align:center;
                            height:24px;line-height:24px;
                            border:1px solid $hoverColor;
                            @extend %cus;
                            position:relative;
                            i{
                                background:url('../images/goods/goods_spirpt.png') -485px -254px  no-repeat;
                                position: absolute;
                                bottom: -1px;
                                right: -1px;
                                width: 15px;
                                height: 15px;
                                overflow: hidden;
                            }
                        }
                    }
                }
                .summary2{
                    display: block;
                    font-size: 12px;
                    color: #666666;
                    font-family: Arial,Verdana,'宋体';
                    min-height: 50px;
                    margin-top:30px;
                    li{
                        display: block;
                        font-size: 12px;
                        color: #666666;
                        overflow:hidden;
                        margin-top:10px;
                        .dt{
                            margin-top: 10px;
                            width: 68px;
                            float: left;
                            color: #9b9b9b;
                        }
                        .choiceCity{
                            position:relative;
                            width: 95px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            border: 1px solid #cccccc;
                            position: relative;
                            padding-right: 10px;
                            float: left;
                            @extend %cus;
                            color: #444444;margin-top: 6px;
                            i{
                                background:url('../images/goods/goods_spirpt.png') -445px -48px  no-repeat;
                                width: 7px;
                                height: 4px;
                                position: absolute;
                                top: 11px;
                                right: 8px;
                            }
                            &:hover i{background-position:-452px -48px;}
                        }
                        .choiceNum{
                            width: 430px;
                            min-height: 15px;
                            float: left;
                            .numBox{
                                width: 75px;
                                float: left;
                                margin-top: 4px;
                                margin-left: 0px;
                                input{
                                    width: 48px;height: 31px;
                                    line-height: 27px;
                                    border: 1px solid #ccc;
                                    float: left;
                                    margin-right: 2px;
                                    color: #555;
                                    font-size: 14px;
                                    text-align: center;
                                    font-family: Verdana, Microsoft yahei, Geneva, sans-serif;
                                }
                                i{
                                    display:block;float:left;
                                    height: 14px;width:16px;
                                    @extend %cus;
                                    background:url('../images/goods/goods_spirpt.png') -249px -48px no-repeat;
                                    &:nth-child(3){background-position:-249px -61px;margin-top:2px;height:15px;}
                                    &:nth-child(3):hover{background-position: -215px -61px;}
                                    &:nth-child(2):hover{background-position: -215px -48px;}
                                }
                            }
                            .commit{
                                float:left;
                                width: 150px;
                                height: 40px;
                                line-height: 40px;
                                text-align: center;
                                background: #ff5c4d;
                                display: block;
                                color: #fff;
                                font-size: 16px;
                                margin-left: 10px;
                                cursor: pointer;
                                border-radius: 2px;
                            }
                            .v7_forsale{
                                height: 40px;
                                line-height: 40px;
                                float: left;
                                margin-left: 10px;
                                color: #878787
                            }
                        }
                        .dd{
                            width: 430px;
                            min-height: 15px;
                            float: left;
                        }
                        .support{
                            min-height: 32px;
                            line-height: 32px;
                            padding-bottom: 10px;
                            width: 485px;
                            float: left;
                            margin-left: 5px;
                            a{
                                margin-right: 20px;
                                display: block;
                                float: left;
                                i{
                                    width: 17px;
                                    height: 17px;
                                    display:block;
                                    float: left;
                                    margin: 7px 3px 0px 0px;
                                    background:url('../images/goods/goods_spirpt.png') -332px -49px no-repeat;
                                }
                            }
                        }
                    }
                }
            }
            .store{
                width: 211px;
                min-height: 200px;
                padding: 0px 20px;
                border-left: 1px solid #f2f2f2;
                float: right;
                margin-top: 20px;
                padding-bottom: 20px;
                box-sizing:content-box;
                h3{
                    height: 36px;
                    line-height: 36px;
                    border-bottom: 1px solid #e6e6e6;
                    margin-bottom: 15px;
                    font-size: 14px;
                    font-family: Microsoft yahei;
                    color: #101010;
                    padding-bottom: 0px;
                    margin-top: -5px;
                }
                ul{
                    li{
                        width: 54px;height: 23px;line-height: 23px;
                        float:left;box-sizing:content-box;
                        margin-bottom: 4px;
                        background: #fff;
                        padding: 0px 7.5px;
                        color: #909090;
                    }
                    .cur{background: #ff7e6f;color: #fff;}
                       
                }
                .changeModel{
                    .address{
                        span{
                            line-height: 26px;
                            display:block;
                            padding-left: 25px;
                            overflow: hidden;
                            color: #4b4b4b;
                            background:url(../images/goods/goods_spirpt.png) -480px -4px no-repeat;
                            &:nth-child(2){background-position:-479px -35px;overflow:visible;}
                        }
                    }
                }
            }
        }
    }
    .goods_conb{
        margin-top:20px;
        overflow:hidden;
        .goods_conb_l{
            background:#fff;
            width:200px;
            min-height:150px;
            border:1px solid #ddd;
            float:left;
            h3{
                height: 39px;
                line-height: 39px;
                padding: 0px 10px;
                border-bottom: 1px solid #e5e5e5;
                font-weight: bold;
                color: #000;
                font-size: 14px;
            }
            .recBro{
                padding: 0px 20px 20px 20px;
                li{
                    padding-top:10px;
                    .recImg{height:100px;text-align:center;}
                    .recName{
                        height: 20px;
                        line-height: 20px;
                        color: #646965;
                        overflow: hidden;
                    }
                    .recPri{
                        font-family: Verdana, Geneva, sans-serif;
                        color: #f54343;
                        height: 20px;
                        line-height: 20px;
                    }
                }
            }
            .empty{
                height: 29px;
                line-height: 29px;
                border-top: 1px dotted #cbcbcb;
                padding: 5px 0px;
                margin: 15px 20px 20px 20px;;
                span{
                    color: #6575da;
                    display:block;float:right;
                    @extend %cus;
                }
            }
        }
        .goods_conb_r{
            width: 1000px;
            min-height: 10px;
            float: right;
            height:3000px;
            .goods_container{
               position:relative;
                .v7_protab_tit{
                    height: 38px;
                    line-height: 38px;
                    background: url('../images/goods/v7_tabtit.png') repeat-x;
                    border: 1px solid #cccccc;
                    font-size: 14px;
                    box-sizing:content-box;
                    li{
                        float:left; 
                        display:block;
                        width: 100px;
                        border-right: 1px solid #cccccc;
                        text-align: center;
                        @extend %cus;
                        z-index:1;
                    }
                    .cur{
                        height: 40px;
                        line-height: 40px;
                        padding-left: 1px;
                        margin: -1px 0px auto -1px;
                        background: #fe5c4d;
                        color: #fff;
                        z-index: 2;
                    }
               }
               .swtab{
                    width: 802px;
                    background: #fff;
                    padding: 25px;
                    margin-left: 0px;
                    display:block;
                    .swtab_t li{
                        width: 50%;height: 22px;line-height: 22px;
                        display: block;
                        float: left;
                        padding: 2px 0px;
                        overflow: hidden;white-space: nowrap;
                        text-overflow:ellipsis;
                        color:#666;
                        span{
                            padding-right: 10px;
                            color: #333;
                            line-height: 22px;
                        }
                    }
                    .swtab_b{
                        margin:20px 0;
                        li{
                            height: 22px;
                            display: block;
                            float: left;
                            padding: 2px 0px;
                            line-height: 22px;
                            overflow: hidden;
                            label{
                                padding-right: 10px;
                                color: #333;
                                line-height: 22px;
                            }
                            span{
                                display: inline-block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin-bottom: -5px;
                                max-width: 516px;
                                height: 17px;
                                line-height: 17px;
                            }
                            a{
                                color: #6575da;
                                margin-left: 10px;
                                &:hover{text-decoration:underline;}
                            }
                        }
                    }
                }
                .rigAnchor{
                    width: 188px;
                    min-height: 340px;
                    background: #fff;
                    position: absolute;
                    right: 0px;
                    top: 40px;
                    .rigAnchor_r ul{
                        padding-top: 30px;
                        position: relative;
                        .anchorline{
                            width: 2px;
                            height: 300px;
                            position: absolute;
                            left: 26px;
                            top: 28px;
                            background: #f0f0f0;
                        }
                        li{
                            height: 32px;
                            line-height: 32px;
                            padding-left: 46px;
                            font-family: 'Microsoft yahei';
                            display: block;
                            position: relative;
                            i{
                                width: 14px;
                                height: 14px;
                                border-radius: 50%;
                                background: #a9a9a9;
                                border: 3px solid #dadada;
                                display: block;
                                left: 20px;
                                top: 9px;
                                position: absolute;
                            }
                        }
                    }

                }
            }
            .aboutus{
                width: 802px;
                background: #FFF;
                text-align: center;
                margin-left: 0px;
                text-align: center;
                padding: 20px 0px;
                margin-top: 20px;
            }
            .topAnchor{
                height: 68px;
                background: #FAFAFA;
                box-shadow: 0 0 5px #888;
                position: fixed;
                top: 0px;left: 0px;
                width: 100%;
                z-index: 800;
                display: none;
                border-bottom: 1px solid #D8D8D8;
                .proimg{
                    float:left;
                    width: 60px;
                    height: 60px;
                    overflow: hidden;
                    margin-top: 4px;
                }
                .protxt{
                    width: 130px;
                    height: 40px;
                    line-height: 20px;
                    float: left;
                    margin: 15px auto auto 12px;
                    overflow: hidden;
                }
                .profloBox{
                    width: 990px;
                    float: right;
                    .proflo_cont{
                        min-width: 90px;
                        height: 35px;
                        line-height: 35px;
                        padding: 0px 20px;
                        text-align: center;
                        border: 1px solid #dddddd;
                        background: url('../images/goods/citybg1223.png') repeat-x;
                        float: left;
                        margin-right: 15px;
                        display: block;
                        margin-top: 15px;
                    }
                    .proflo_address{
                        width: 95px;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        border: 1px solid #dddddd;
                        position: relative;
                        background: url('../images/goods/citybg1223.png') repeat-x;
                        padding-right: 10px;
                        margin-top: 15px;
                        float: left;
                        cursor: pointer;
                    }
                    .proflo_need{
                        width: 122px;
                        height: 37px;
                        line-height: 37px;
                        display: block;
                        background: #f54343;
                        text-align: center;
                        color: #FFF !important;
                        font-size: 16px;
                        float: left;
                        margin-left: 10px;
                        font-family: 'Microsoft yahei';
                        margin-top: 15px;
                        cursor: pointer;
                    }
                    .proflo_pho{
                        width: 162px;
                        height: 37px;
                        float: right;
                        margin-top: 15px;
                        span{
                            width: 162px;
                            height: 25px;
                            line-height: 25px;
                            padding: 16px 0px 0px 20px;
                            font-family: 'Arial';
                            font-size: 22px;
                            color: #f03b44;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}