//引入变量文件
@import 'var';

html{height:100%;}
.container{
    width: 1210px;
    padding:0;
    font:$fontFamily;
}

#pageHeader{
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    height:36px;
    font-size: 12px;
    background: #f9f9f9;
    // overflow:hidden;
    .container{
        // overflow:hidden;
        .header_t{
            height:36px;
            line-height: 36px;
            .header_tl{
                >a{
                    display:inline-block;
                    margin-right:10px;  
                    color:$hoverColor;

                    &:nth-child(1){
                        color:$mainColor;
                    }
                    &:hover{
                        text-decoration:none;
                        color:$hoverColor;
                    }
                }
                .tuichu{
                    display:none;
                }
            }
            .header_tr{
                li{
                    float:left;
                    margin-right:10px;
                    &:last-child span{
                        border-right:0;
                    }
                    span{
                        border-right:1px solid #ddd;
                        padding-right:8px;
                    }
                    &:nth-child(1),&:nth-child(4){
                        // position:relative;
                        span{
                            padding-right:20px;
                        }
                        i{
                            position:relative;
                            top:1px;
                            right:-73px;
                            font-size:4px;
                            color:$mainColor;
                        }
                    }
                    &:nth-child(4) i{
                        right:-62px;
                    }

                    &:nth-child(1){
                        position:relative;
                        &:hover{
                            background:#fff;
                            border-right:1px solid #ddd;
                            border-left:1px solid #ddd;
                            span{border:0;}
                        }
                        ul{
                            display:block;
                            position:absolute;
                            left:-1px;
                            width: 100%;background-color:#fff;
                            z-index:50;border:1px solid #ddd;
                            border-top:0;
                            box-sizing: content-box;
                            li{
                                height:25px;line-height:25px;width: 100%;text-align:center;
                                &:hover{
                                    color:$hoverColor;
                                    @extend %cus;
                                }
                            }
                        }
                    }
                    &:nth-child(4){
                        position:relative;
                        &:hover{
                            background:#fff;
                            border-right:1px solid #ddd;
                            border-left:1px solid #ddd;
                            span{border:0;margin-right:-1px;}
                        }
                        div{
                            position:absolute;
                            border:1px solid #ddd;
                            left:-1px;
                            background:#fff;width:200%;
                            z-index:50;
                            box-sizing: content-box;
                            &:before{
                                content:"";
                                position:absolute;
                                top:-1px;
                                left:2px;
                                display:inline-block;
                                height:1px;width:75px;
                                background-color: #fff;
                            }
                            a{
                                display:block;
                                width:50%;float:left;
                            }
                        }
                    }
                }
                
            }

        }

    }

}
#header_b{
    height:95px;
    
    .container{
        
        .header_bl{
            position:relative;
            height:95px;
            width: 280px;
            text-indent:-1000px;
            background:url('../images/indexImg/logo.jpg')no-repeat;
            z-index:-2;
            img{
                position:absolute;
                top:70px;z-index:-1;
            }
        }
        .header_bc{
            width: 550px;
            @extend %cus;
            height: 36px;
            margin-top: 20px;
            .input-group{
                width:474px;
                input{width:404px;border:2px solid #e3393c;}
                span{
                    width:70px;
                    background:#e3393c;border:1px solid #e3393c;
                    color:#fff;font-size:$fontSize;
                    font-weight: bold;text-align: center;
                }
            }
            .search_hot{
                width:100%;height:36px;
                li{
                    float:left;
                    line-height:30px;
                    margin-right:10px;
                    color:#999;
                    a{
                        color:#999;
                        &:hover{
                            color:$hoverColor;
                        }
                    }
                }
            }
        }
        .header_br{
            .logo2{
                width: 155px;
                height: 90px;
                background:url('../images/indexImg/logo2.jpg')right center no-repeat;;
                padding-right:210px;
            }
            .carBox{
                width:132px;
                .myAccount,.myCar{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #EFEFEF;
                    line-height: 30px;
                    background-color: #F7F7F7;
                    margin-top:13px;
                    i{
                        display:inline-block;
                        padding:0 5px 0 10px;
                        color:gray;
                    }
                    a:hover{
                        text-decoration:underline;
                    }
                }
                .myCar{
                    margin-top:5px;
                    a{
                        span{
                            color:red;
                            font-style: italic;
                        }
                        &:hover{
                            text-decoration:none;   
                        }
                    }
                    &:hover{
                        border:1px solid #e3393c;
                    }
                }
            }

        }
    }
}

/*nav*/
#pageNav{
    background:url('../images/indexImg/nav_num.gif')no-repeat right 0;
    background-color: #f54343;
    .tab1{
        background-color:#F54343;
        >li{
            float:left;
            height:40px;
            line-height:40px;
            &:hover{
                background: #db3036;
            }
            >a{
                display:inline-block;
                padding:0 18px;
                font-family: "microsoft yahei";
                font-size: 14px;
                color:#fff;
            }
            .nav_jt{
                width: 0px;
                height: 0px;
                line-height: 0px;
                font-size: 0px;
                display: inline-block;
                border-width: 4.5px;
                border-style: dashed solid;
                border-color: transparent;
                border-top-color: #fff;
                border-bottom-style: dashed;
                margin-left: 4px;
                margin-bottom: -2px;
            }
        }
        >li:nth-child(1){
            position:relative;
            width:210px;
            padding-left:20px;
            font-weight:bold;
            background: #db3036;
            >i{
                color:#fff;
            }
        }
        // 二级导航
        .tab2{
            position:absolute;top:40px;left:0;
            z-index:50;
            width: 210px;
            padding:5px 0;
            background: #F6F6F6;
            >li{
                position:relative;width: 100%;height:28.5px;line-height:31.4px;
                padding-left:20px;
                >a{ 
                    color:#000;padding:0;
                    font-size:14px;font-weight:400;
                    font-family:Microsoft yahei; 
                    &:hover{color:$hoverColor;}        
                }
                >span{
                    display: block;
                    position: absolute;top: 10px;left: 185px;
                    width: 6px;height: 9px;
                    background: url('../images/indexImg/index_spirit.png') -35px -72px no-repeat #fafafa;
                }
                &:hover{
                    background:#fff;
                    border:1px solid #ddd;
                    border-right:0;
                    box-shadow:0 0 10px #999;
                    //隐藏箭头
                    >span{display:none;}
                    //三级导航出来
                    .tab3{ display:block;}
                    //伪元素
                    &:after{
                        content:'';
                        position:absolute;top:0px;right:0px;
                        width:1px; height:27px;
                        border:5px solid #fff;
                    }
                }
                //三级导航细节1
                section.tab3{
                    display:none;
                    position:absolute;top:0;left:208px;
                    width:690px;min-height:460px;
                    background:#fff;
                    padding: 8px 0px 12px 10px;
                    border:1px solid #ddd;
                    box-shadow:0 0 15px #999;
                    ul{
                        border-bottom:1px solid #eee;
                        padding-bottom:15px;
                        li.ttit{
                            width:90px;line-height:20px;
                            padding-right:5px;
                            font-weight:bold;
                            float:left;
                            a{
                                display:block;float:right;
                                color:#f03b44;
                                font-size:12px;
                                height:20px;line-height:20px;
                                padding-right:5px;
                                margin-top:10px;
                            }
                        }
                        li.tcon{
                            float:left;
                            width:550px;    
                            a{
                                display:block;float:left;
                                padding:0 8px;
                                font-size:12px;
                                height:20px;line-height:20px;
                                color:#666;
                                border-left:1px solid #ccc;
                                margin-top:10px;
                                font-weight:normal;
                                &:hover{
                                    color:$hoverColor;
                                }
                            }
                        }
                    }

                }
                //三级导航细节2--点击更多
                section.tab3{
                    .downList{
                        margin-right:10px;
                        h3{
                            height:30px;
                            margin: 20px auto 0;
                            height:30px;line-height:30px;
                            color:#6776DB;background:#EFEFEF;
                            text-align:center;
                            border:1px solid #ddd;
                            @extend %cus;
                            &:hover{
                                color:$hoverColor;
                            }
                        }
                        .more{
                            display:none;
                        }
                        .up{
                            display:none;
                        }
                    }
                }
                //每个三级导航的位置
                &:nth-child(2) .tab3{top:-20px;}
                &:nth-child(3) .tab3{top:-40px;}
                &:nth-child(4) .tab3{top:-60px;}
                &:nth-child(5) .tab3{top:-80px;}
                &:nth-child(6) .tab3{top:-100px;}
                &:nth-child(7) .tab3{top:-120px;}
                &:nth-child(8) .tab3{top:-150px;}
                &:nth-child(9) .tab3{top:-180px;}
                &:nth-child(10) .tab3{top:-210px;}
                &:nth-child(11) .tab3{top:-240px;}
                &:nth-child(12) .tab3{top:-270px;}
                &:nth-child(13) .tab3{top:-300px;}
                &:nth-child(14) .tab3{top:-330px;}
                &:nth-child(15) .tab3{top:-360px;}
                &:nth-child(16) .tab3{top:-390px;}
                &:nth-child(17) .tab3{top:-420px;}
            }
        }
    }


}


/*main*/
#pageMain{
    .carousel{
        position:relative;
        height: 467px;
        // background-color:gold;
        overflow:hidden;
        .banner_l{
            position:absolute;top:0;left:220px;
            width: 670px;height:450px;overflow:hidden;
            margin-top:10px;
            /*重置插件样式,我真是天才*/
            .page {
                position: absolute;
                left: 50%;
                bottom: -10px;
                transform:translateX(-30%);
                padding: 10px;
                span{
                    width:12px;height:12px;
                    background-color: rgba(0, 0, 0, .8);
                    @extend %cus;
                }
                span.active{
                    background-color: rgba(255, 0, 0, .8);
                }
            }
        }
        .banner_r{
            width: 310px;height:460px;
            background: #f7f7f7;
            border: 1px solid #f0f0f0;
            padding: 5px 10px 10px 10px;
            h3{
                height:28px;line-height:28px;
                color: #555;font-size:15px;
                font-family: 'Microsoft yahei';
                text-align:center;
                margin-bottom:5px;
            }
            ul{
                li{
                    width: 70px;height: 25px; line-height: 25px;
                    margin-left: 1px;float: left;
                    margin-bottom: 1px;padding: 0px 10px;
                    overflow: hidden;
                    color: #666666;
                    background: #eeeeee;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        background-color:$hoverColor;
                        color:#fff;
                    }
                }
            }
        }

    }
    .limitBuy{
        background-color:#f9f9f9;
        margin-top:20px;
        border-top:2px solid #eb6161;
        .lb_l{
            height:303px;
            width: 860px;
            float: left;
            margin-left: 10px;
            
            .activeTab{
                line-height: 50px;height:50px;
                font-size:16px;
                li{
                    width: 100px;cursor: pointer;
                    display: block;float: left;
                    color: #000;text-align:center;
                    &:hover{color:#f54343;}
                }
                .tjTab{
                    background:#eb6161;
                    color:#fff;
                }
            }
            .changeTab{
                position:relative;
                color:#555;border:1px solid #f2f2f2;
                background: #fff;height:253px;
                
                >div{
                    >ul{
                        height:240px;z-index:-1;
                        >li{
                            height: 240px; width: 213px;
                            border-left: 1px solid #f2f2f2;
                            float: left;
                            @extend %cus;
                            >a{
                                display:block;
                                text-align:center;
                                width: 140px;
                                height: 150px;
                                padding-top: 5px;
                                text-align: center;
                                margin: 15px auto 5px auto;
                            }
                            >p{
                                text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:155px;font-size:13px;height:22px;line-height:22px;margin:0 auto;
                                &:nth-child(3){
                                    color:$priceColor;
                                    line-height:25px;
                                    height:25px;
                                    font-size:15px;
                                    font-family: Verdana, 'Microsoft yahei';
                                }
                            }
                            &:nth-child(1){
                                border-left:0;
                            }
                        }
                    }
                    .secTab{
                        >div:nth-child(1){
                            display:none;
                            position:absolute;
                            top:-35px;right:0;z-index:10;
                            overflow:hidden;
                            li{
                                padding: 0px 8px;
                                background: #efefef;
                                color: #666;
                                float: left;
                                margin-left: 5px;
                            }
                        }
                        //给第一个li高亮
                        .secTab2 ul li:nth-child(1){
                            background:#eb6161;
                            color:#fff;
                        }
                    }
                    .active div:nth-child(1){
                        display:block;
                    }
                }


            }
        }
        .lb_r{
            height:303px;
            width: 310px;
            float: right;
            >h2{
                height: 50px;
                line-height: 50px;
                text-align: center;
                background: #ef5752;
                color: #fff;
                font-size: 18px !important;
                letter-spacing: 1px;
            }
            .limitBox{
                width: 308px;
                height:251px;
                background:#fff;
                h3{
                    height: 40px;
                    width:308px;
                    line-height: 40px;
                    color: #333;
                    text-align: center;
                    overflow: hidden;
                    padding: 0px 20px;
                    font-size: 16px;
                    font-family: 'Microsoft yahei';
                }
                a{
                    display:block;
                    width:308px;height:170px;
                    text-align:center;
                    img{
                        margin:0 auto;
                        width:170px;height:170px;
                        vertical-align: middle;
                    }
                }
                .z_price1{
                    height: 25px;
                    line-height: 25px;
                    font-size: 18px !important;
                    color: #f54343;
                    padding-left:20px;
                }
                .z_del{
                    height: 25px;
                    line-height: 25px;
                    font-size: 13px;
                    color: #999;
                    padding-left: 10px;
                }

                /*重置轮播样式*/
                .page {
                    padding:0;
                    span{
                        margin-left:5px;
                        border-radius:0;
                        width:30px;height:8px;
                        background-color: rgba(255, 0, 0, .4);
                        box-shadow:0 0 3px rgba(255,0,0,.5);
                        @extend %cus;
                    }
                    span.active{
                        background-color: rgba(255, 0, 0, .8);
                    }
                }
            }
        }
    }
    .channel{
        height:122px;
        margin-top:20px;
        border:1px solid #ddd;
        .channelList{
            width: 301px;height:120px;
            float: left;position: relative;
            border-left: 1px solid #ddd;
            &:first-child{
                border-left:0;
            }
            .info{
                width: 150px;height: 100px;
                position: absolute;
                left: 20px;top: 14px;
                z-index: 1;
                line-height: 20px;
                strong{
                    font-size: 15px;
                    font-family: 'Microsoft yahei';
                    color: #000;
                    font-weight: 400;
                    height:20px;
                }
                p{
                    height: 36px;
                    color: #999;
                    padding-top: 6px;
                    overflow: hidden;
                    line-height: 16px;
                    font-size:12px;
                    &:nth-child(1){height:20px;line-height: 20px;padding-top:0;}
                }
                a{
                    display:block;
                    padding: 4px 10px;
                    background: #ff4148;
                    color: #fff;
                    margin-top:10px;
                }
            }
            .unit{
                float:right;
                width: 200px;
                height:120px;
                margin-right: 0px;
                overflow: hidden;
                text-align: right;
                z-index: 1;
                img{border:0;}
            }

            &:last-child{
                padding: 15px 20px;
                    p{
                        font-size: 15px;
                        line-height: 20px;
                        font-family: 'Microsoft yahei';
                        color: #000;
                        font-weight: 400;
                        @extend %cus;
                    }
                    dl{
                        margin-top: 10px;
                        dd{
                            width: 33.3%;
                            height: 20px;
                            line-height: 20px;
                            float: left;
                            overflow: hidden;
                            margin: 3px 0px;
                            @extend %cus;
                        }
                    }
                }
            }
    }
    
    .floor_1st,.floor_2nd,.floor_3rd,.floor_4th{
        .fl_1st_t,.fl_2nd_t,.fl_3rd_t,.fl_4th_t{
            height:$heightT;
            line-height:$heightT;
            font-size: 24px;
            color:#869CFE;
            margin-top:10px;
            font-family: 'Microsoft yahei';
        }
        .fl_1st_b,.fl_2nd_b,.fl_3rd_b,.fl_4th_b{
            height:$heightB;
            border-top: 2px solid #869cfe;
            .floor_1st_l,.floor_2nd_l,.floor_3rd_l,.floor_4th_l{
                background: #b8cbfe;
                width: 210px;height:$heightB;
                float: left;
                .f1_lb,.f2_lb,.f3_lb,.f4_lb{
                    height: 220px;
                    margin: 9px auto auto 9px;
                    overflow: hidden;
                    a{
                        width: 90px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        margin: 4px auto auto 4px;
                        float: left;
                        background: #fff;
                        overflow: hidden;
                    }
                }
            }
            .floor_1st_r,.floor_2nd_r,.floor_3rd_r,.floor_4th_r{float:right;width: 1000px;
                li{
                    width: 199px;height: 236.5px;
                    float: left;
                    border-right: 1px solid #ededed;
                    border-bottom: 1px solid #ededed;
                    .manImgBox{
                        overflow: hidden;text-align: center;
                        margin: 0 auto;
                        padding: 27px 0px 15px 0px;
                        }
                    .manContentBox{
                        height: 50px;margin: 0px 20px;
                        overflow: hidden;
                        .manName{
                            height: 25px;line-height: 25px;
                            overflow: hidden;
                        }
                        .manPrice{
                            height: 20px;
                            line-height: 20px;
                            font-family: 'Microsoft yahei';
                            color: #f03b44;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    
    .floor_2nd{
        .fl_2nd_t{
            color:#3DC190;
        }
        .fl_2nd_b{
            border-top: 2px solid #3DC190;
            .floor_2st_l{
                background: #b8cbfe;
            }
        }
    }
    .floor_3rd{
        .fl_3rd_t{
            color:#FC9359;
        }
        .fl_3rd_b{
            border-top:2px solid #FC9359;
            .floor_3rd_l{
                background:#ffccab;
            }
        }
    }
    .floor_4th{
        .fl_4th_t{
            color:#73A9EA;
        }
        .fl_4th_b{
            border-top:2px solid #73A9EA;
            .floor_4th_l{
                background:#d7eaff;
            }
        }
    }

    .floor_5th{
        .fl_5th_t{
            height:$heightT;
            line-height:$heightT;
            font-size: 24px;
            color:#EF5752;
            margin-top:10px;
            font-family: 'Microsoft yahei';
        }
        .fl_5th_b{
            height:172px;
            .f5Box{
                overflow: hidden;
                border-top: 2px solid #EF5752;
                padding-top: 10px;
                >a{
                    display:block;margin-top:10px;margin-right:10px;
                    width: 396px;height: 150px;
                    float: left;
                    overflow: hidden;
                    &:last-child{margin-right:0;}
                }
            }
        }
    }
    .link{
        height:170px;
        // background-color:plum;
        margin-top:20px;
        .tab-content{
            padding:15px;
        }
        #home{
            a{
                padding: 0px 10px;
                height: 18px;
                line-height: 18px;
                font-size: 12px;
                color: #666666;
                margin: 5px 0px;
                width: 100px;
                display: inline-block;
            
            }
        }
    }

    .longImg{
        height:90px;
        margin-top:20px;
    }
}

/*aside*/
aside{
    .asideFix{
        position:fixed;right:0;top:0;
        height:100%;
        width:2px;background:red;
        .aside_t{
            position:fixed;right:0px;top:17.5%;
            img{
                display:block;
            }
        }
        .aside_b{
            position:fixed;right:0;top:65%;
            .shoppingCart,.qrCodeBox,.myCollect,.suggestBox,.toTop{
                height:35px;line-height:35px;
                position: relative;
                right:-71px;
                top:0;
                background-color: #f03b44;
                border-radius: 2px 0px 0px 2px;
                cursor: pointer;
                transition: all 0.3s linear 0.1s;
                z-index: 1;margin-top:1px;
                &:hover{
                    right:0;
                }
                i{
                    background:#f03b44 url('../images/indexImg/index_spirit2.png')0 2px no-repeat;
                    width: 20px;
                    height: 20px;
                    display: block;
                    float: left;
                    margin: 8px 0px 0px 6px;
                }
                a{
                    color:#fff;
                    font-size:12px;
                    display:block;float:left;padding-left:5px;
                    padding-right:15px;
                }
            }
            .myCollect i{background-position:-25px 1px; }
            .qrCodeBox i{background-position:-1px -24px; }
            .suggestBox i{background-position:-1px -50px;}
            .toTop i{background-position:-1px -76px;}
            .qrCodeBox{
                >div{
                    position:absolute;
                    left:-123px;top:-50px;
                    width: 120px;text-align:center;
                    display:none;
                    p{
                        width: 100%;
                        height:20px;line-height:17px;font-size:12px;
                        background: #f03b44;color:#fff;padding:3px;
                    }
                }
                &:hover{
                    right:-71px;
                    >div{display:block;}
                }
            }
        }
        
    }
}

/*footer*/
#pageFooter{
    .footer_t{
        height:192px;
        margin-top:20px;
        text-align:center;
        background-color:#F03B43;
        dl{
            display:inline-block;
            width:140px;
            padding-top:30px;color:#fff;
            @extend %cus;
            dt{
                height: 30px;
                padding-left: 36px;
                font-size: 14px;
                font-weight: bold;
            }
            dd{
                height: 22px;
                padding-left: 8px;
                a{
                    display:block;
                    font-size:12px;
                    color:#ffbec1;
                    &:hover{
                        color: #FFFFFF;
                        text-decoration: underline;
                    }
                }
            }
            &:nth-child(1) dt{
                background:url('../images/indexImg/link/b1.gif')25px 0 no-repeat;  
            }
            &:nth-child(2) dt{
                background:url('../images/indexImg/link/b2.gif')25px 0 no-repeat;  
            }
            &:nth-child(3) dt{
                background:url('../images/indexImg/link/b3.gif')25px 0 no-repeat;  
            }
            &:nth-child(4) dt{
                background:url('../images/indexImg/link/b4.gif')25px 0 no-repeat;  
            }
            &:nth-child(5) dt{
                background:url('../images/indexImg/link/b5.gif')25px 0 no-repeat;  
            }
            &:nth-child(6) dt{
                background:url('../images/indexImg/link/b6.gif')25px 0 no-repeat;  
            }
        }
    }
    .footer_b{
        height:130px;
        .copyright{
            border-top: 1px solid #D7D7D7;
            line-height: 30px;
            text-align: center;
            a{
                color: #f03b43;
                margin: 0 5px;
            }
        }
        .bottom-info{
            color: #656565;
            margin: 0 auto;
            width: 960px;
            .btleft{
                // display: inline;
                float: left;
                line-height: 20px;
                margin-left: 25px;
                text-align: right;
            }
            .btright{
                display: block;
                width: 160px;
                float: right;
                margin-right: 50px;
                margin-top: 20px;
            }
        }
    }
}

