@charset "UTF-8";
#pageHeader .container .header_t .header_tr li:nth-child(1) ul li:hover, #header_b .container .header_bc, #pageNav .tab1 .tab2 > li section.tab3 .downList h3, #pageMain .carousel .banner_l .page span, #pageMain .limitBuy .lb_l .changeTab > div > ul > li, #pageMain .limitBuy .lb_r .limitBox .page span { cursor: pointer; }

a { color: #666666; }

a:hover { text-decoration: none; color: #f03b43; }

.container { width: 1210px; padding: 0; font: 12px/150% Arial, Verdana, "宋体"; }

#pageHeader { width: 100%; border-bottom: 1px solid #f2f2f2; height: 36px; font-size: 12px; background: #f9f9f9; }

#pageHeader .container .header_t { height: 36px; line-height: 36px; }

#pageHeader .container .header_t .header_tl > a { display: inline-block; margin-right: 10px; color: #f03b43; }

#pageHeader .container .header_t .header_tl > a:nth-child(1) { color: #666666; }

#pageHeader .container .header_t .header_tl > a:hover { text-decoration: none; color: #f03b43; }

#pageHeader .container .header_t .header_tr li { float: left; margin-right: 10px; }

#pageHeader .container .header_t .header_tr li:last-child span { border-right: 0; }

#pageHeader .container .header_t .header_tr li span { border-right: 1px solid #ddd; padding-right: 8px; }

#pageHeader .container .header_t .header_tr li:nth-child(1) span, #pageHeader .container .header_t .header_tr li:nth-child(4) span { padding-right: 20px; }

#pageHeader .container .header_t .header_tr li:nth-child(1) i, #pageHeader .container .header_t .header_tr li:nth-child(4) i { position: relative; top: 1px; right: -73px; font-size: 4px; color: #666666; }

#pageHeader .container .header_t .header_tr li:nth-child(4) i { right: -62px; }

#pageHeader .container .header_t .header_tr li:nth-child(1) { position: relative; }

#pageHeader .container .header_t .header_tr li:nth-child(1):hover { background: #fff; border-right: 1px solid #ddd; border-left: 1px solid #ddd; }

#pageHeader .container .header_t .header_tr li:nth-child(1):hover span { border: 0; }

#pageHeader .container .header_t .header_tr li:nth-child(1) ul { display: block; position: absolute; left: -1px; width: 100%; background-color: #fff; z-index: 50; border: 1px solid #ddd; border-top: 0; box-sizing: content-box; }

#pageHeader .container .header_t .header_tr li:nth-child(1) ul li { height: 25px; line-height: 25px; width: 100%; text-align: center; }

#pageHeader .container .header_t .header_tr li:nth-child(1) ul li:hover { color: #f03b43; }

#pageHeader .container .header_t .header_tr li:nth-child(4) { position: relative; }

#pageHeader .container .header_t .header_tr li:nth-child(4):hover { background: #fff; border-right: 1px solid #ddd; border-left: 1px solid #ddd; }

#pageHeader .container .header_t .header_tr li:nth-child(4):hover span { border: 0; margin-right: -1px; }

#pageHeader .container .header_t .header_tr li:nth-child(4) div { position: absolute; border: 1px solid #ddd; left: -1px; background: #fff; width: 200%; z-index: 50; box-sizing: content-box; }

#pageHeader .container .header_t .header_tr li:nth-child(4) div:before { content: ""; position: absolute; top: -1px; left: 2px; display: inline-block; height: 1px; width: 75px; background-color: #fff; }

#pageHeader .container .header_t .header_tr li:nth-child(4) div a { display: block; width: 50%; float: left; }

#header_b { height: 95px; }

#header_b .container .header_bl { position: relative; height: 95px; width: 280px; text-indent: -1000px; background: url("../images/indexImg/logo.jpg") no-repeat; z-index: -2; }

#header_b .container .header_bl img { position: absolute; top: 70px; z-index: -1; }

#header_b .container .header_bc { width: 550px; height: 36px; margin-top: 20px; }

#header_b .container .header_bc .input-group { width: 474px; }

#header_b .container .header_bc .input-group input { width: 404px; border: 2px solid #e3393c; }

#header_b .container .header_bc .input-group span { width: 70px; background: #e3393c; border: 1px solid #e3393c; color: #fff; font-size: 14px; font-weight: bold; text-align: center; }

#header_b .container .header_bc .search_hot { width: 100%; height: 36px; }

#header_b .container .header_bc .search_hot li { float: left; line-height: 30px; margin-right: 10px; color: #999; }

#header_b .container .header_bc .search_hot li a { color: #999; }

#header_b .container .header_bc .search_hot li a:hover { color: #f03b43; }

#header_b .container .header_br .logo2 { width: 155px; height: 90px; background: url("../images/indexImg/logo2.jpg") right center no-repeat; padding-right: 210px; }

#header_b .container .header_br .carBox { width: 132px; }

#header_b .container .header_br .carBox .myAccount, #header_b .container .header_br .carBox .myCar { width: 100%; height: 30px; border: 1px solid #EFEFEF; line-height: 30px; background-color: #F7F7F7; margin-top: 13px; }

#header_b .container .header_br .carBox .myAccount i, #header_b .container .header_br .carBox .myCar i { display: inline-block; padding: 0 5px 0 10px; color: gray; }

#header_b .container .header_br .carBox .myAccount a:hover, #header_b .container .header_br .carBox .myCar a:hover { text-decoration: underline; }

#header_b .container .header_br .carBox .myCar { margin-top: 5px; }

#header_b .container .header_br .carBox .myCar a span { color: red; font-style: italic; }

#header_b .container .header_br .carBox .myCar a:hover { text-decoration: none; }

#header_b .container .header_br .carBox .myCar:hover { border: 1px solid #e3393c; }

/*nav*/
#pageNav { background: url("../images/indexImg/nav_num.gif") no-repeat right 0; background-color: #f54343; }

#pageNav .tab1 { background-color: #F54343; }

#pageNav .tab1 > li { float: left; height: 40px; line-height: 40px; }

#pageNav .tab1 > li:hover { background: #db3036; }

#pageNav .tab1 > li > a { display: inline-block; padding: 0 18px; font-family: "microsoft yahei"; font-size: 14px; color: #fff; }

#pageNav .tab1 > li .nav_jt { width: 0px; height: 0px; line-height: 0px; font-size: 0px; display: inline-block; border-width: 4.5px; border-style: dashed solid; border-color: transparent; border-top-color: #fff; border-bottom-style: dashed; margin-left: 4px; margin-bottom: -2px; }

#pageNav .tab1 > li:nth-child(1) { position: relative; width: 210px; padding-left: 20px; font-weight: bold; background: #db3036; }

#pageNav .tab1 > li:nth-child(1) > i { color: #fff; }

#pageNav .tab1 .tab2 { position: absolute; top: 40px; left: 0; z-index: 50; width: 210px; padding: 5px 0; background: #F6F6F6; }

#pageNav .tab1 .tab2 > li { position: relative; width: 100%; height: 28.5px; line-height: 31.4px; padding-left: 20px; }

#pageNav .tab1 .tab2 > li > a { color: #000; padding: 0; font-size: 14px; font-weight: 400; font-family: Microsoft yahei; }

#pageNav .tab1 .tab2 > li > a:hover { color: #f03b43; }

#pageNav .tab1 .tab2 > li > span { display: block; position: absolute; top: 10px; left: 185px; width: 6px; height: 9px; background: url("../images/indexImg/index_spirit.png") -35px -72px no-repeat #fafafa; }

#pageNav .tab1 .tab2 > li:hover { background: #fff; border: 1px solid #ddd; border-right: 0; box-shadow: 0 0 10px #999; }

#pageNav .tab1 .tab2 > li:hover > span { display: none; }

#pageNav .tab1 .tab2 > li:hover .tab3 { display: block; }

#pageNav .tab1 .tab2 > li:hover:after { content: ''; position: absolute; top: 0x; right: 0px; width: 1px; height: 28px; border: 5px solid #fff; }

#pageNav .tab1 .tab2 > li section.tab3 { display: none; position: absolute; top: 0; left: 208px; width: 690px; min-height: 460px; background: #fff; padding: 8px 0px 12px 10px; border: 1px solid #ddd; box-shadow: 0 0 15px #999; }

#pageNav .tab1 .tab2 > li section.tab3 ul { border-bottom: 1px solid #eee; padding-bottom: 15px; }

#pageNav .tab1 .tab2 > li section.tab3 ul li.ttit { width: 90px; line-height: 20px; padding-right: 5px; font-weight: bold; float: left; }

#pageNav .tab1 .tab2 > li section.tab3 ul li.ttit a { display: block; float: right; color: #f03b44; font-size: 12px; height: 20px; line-height: 20px; padding-right: 5px; margin-top: 10px; }

#pageNav .tab1 .tab2 > li section.tab3 ul li.tcon { float: left; width: 550px; }

#pageNav .tab1 .tab2 > li section.tab3 ul li.tcon a { display: block; float: left; padding: 0 8px; font-size: 12px; height: 20px; line-height: 20px; color: #666; border-left: 1px solid #ccc; margin-top: 10px; font-weight: normal; }

#pageNav .tab1 .tab2 > li section.tab3 ul li.tcon a:hover { color: #f03b43; }

#pageNav .tab1 .tab2 > li section.tab3 .downList { margin-right: 10px; }

#pageNav .tab1 .tab2 > li section.tab3 .downList h3 { height: 30px; margin: 20px auto 0; height: 30px; line-height: 30px; color: #6776DB; background: #EFEFEF; text-align: center; border: 1px solid #ddd; }

#pageNav .tab1 .tab2 > li section.tab3 .downList h3:hover { color: #f03b43; }

#pageNav .tab1 .tab2 > li section.tab3 .downList .more { display: none; }

#pageNav .tab1 .tab2 > li section.tab3 .downList .up { display: none; }

#pageNav .tab1 .tab2 > li:nth-child(2) .tab3 { top: -20px; }

#pageNav .tab1 .tab2 > li:nth-child(3) .tab3 { top: -40px; }

#pageNav .tab1 .tab2 > li:nth-child(4) .tab3 { top: -60px; }

#pageNav .tab1 .tab2 > li:nth-child(5) .tab3 { top: -80px; }

#pageNav .tab1 .tab2 > li:nth-child(6) .tab3 { top: -100px; }

#pageNav .tab1 .tab2 > li:nth-child(7) .tab3 { top: -120px; }

#pageNav .tab1 .tab2 > li:nth-child(8) .tab3 { top: -150px; }

#pageNav .tab1 .tab2 > li:nth-child(9) .tab3 { top: -180px; }

#pageNav .tab1 .tab2 > li:nth-child(10) .tab3 { top: -210px; }

#pageNav .tab1 .tab2 > li:nth-child(11) .tab3 { top: -240px; }

#pageNav .tab1 .tab2 > li:nth-child(12) .tab3 { top: -270px; }

#pageNav .tab1 .tab2 > li:nth-child(13) .tab3 { top: -300px; }

#pageNav .tab1 .tab2 > li:nth-child(14) .tab3 { top: -330px; }

#pageNav .tab1 .tab2 > li:nth-child(15) .tab3 { top: -360px; }

#pageNav .tab1 .tab2 > li:nth-child(16) .tab3 { top: -390px; }

#pageNav .tab1 .tab2 > li:nth-child(17) .tab3 { top: -420px; }

/*main*/
#pageMain .carousel { position: relative; height: 467px; overflow: hidden; }

#pageMain .carousel .banner_l { position: absolute; top: 0; left: 220px; width: 670px; height: 450px; overflow: hidden; margin-top: 10px; /*重置插件样式,我真是天才*/ }

#pageMain .carousel .banner_l .page { position: absolute; left: 50%; bottom: -10px; transform: translateX(-30%); padding: 10px; }

#pageMain .carousel .banner_l .page span { width: 12px; height: 12px; background-color: rgba(0, 0, 0, 0.8); }

#pageMain .carousel .banner_l .page span.active { background-color: rgba(255, 0, 0, 0.8); }

#pageMain .carousel .banner_r { width: 310px; height: 460px; background: #f7f7f7; border: 1px solid #f0f0f0; padding: 5px 10px 10px 10px; }

#pageMain .carousel .banner_r h3 { height: 28px; line-height: 28px; color: #555; font-size: 15px; background: #ccc; font-family: 'Microsoft yahei'; text-align: center; margin-bottom: 5px; }

#pageMain .carousel .banner_r ul li { width: 70px; height: 25px; line-height: 25px; margin-left: 1px; float: left; margin-bottom: 1px; padding: 0px 10px; overflow: hidden; color: #666666; background: #eeeeee; text-align: center; cursor: pointer; }

#pageMain .carousel .banner_r ul li:hover { background-color: #f03b43; color: #fff; }

#pageMain .limitBuy { background-color: #f9f9f9; margin-top: 20px; border-top: 2px solid #eb6161; }

#pageMain .limitBuy .lb_l { height: 303px; width: 860px; float: left; margin-left: 10px; }

#pageMain .limitBuy .lb_l .activeTab { line-height: 50px; height: 50px; font-size: 16px; }

#pageMain .limitBuy .lb_l .activeTab li { width: 100px; cursor: pointer; display: block; float: left; color: #000; text-align: center; }

#pageMain .limitBuy .lb_l .activeTab li:hover { color: #f54343; }

#pageMain .limitBuy .lb_l .activeTab .tjTab { background: #eb6161; color: #fff; }

#pageMain .limitBuy .lb_l .changeTab { position: relative; color: #555; border: 1px solid #f2f2f2; background: #fff; height: 253px; }

#pageMain .limitBuy .lb_l .changeTab > div > ul { height: 240px; }

#pageMain .limitBuy .lb_l .changeTab > div > ul > li { height: 240px; width: 213px; border-left: 1px solid #f2f2f2; float: left; }

#pageMain .limitBuy .lb_l .changeTab > div > ul > li > a { display: block; text-align: center; width: 140px; height: 150px; padding-top: 5px; text-align: center; margin: 15px auto 5px auto; }

#pageMain .limitBuy .lb_l .changeTab > div > ul > li > p { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 155px; font-size: 13px; height: 22px; line-height: 22px; margin: 0 auto; }

#pageMain .limitBuy .lb_l .changeTab > div > ul > li > p:nth-child(3) { color: #f03b44; line-height: 25px; height: 25px; font-size: 15px; font-family: Verdana, 'Microsoft yahei'; }

#pageMain .limitBuy .lb_l .changeTab > div > ul > li:nth-child(1) { border-left: 0; }

#pageMain .limitBuy .lb_l .changeTab > div .secTab > div:nth-child(1) { display: none; position: absolute; top: -35px; right: 0; z-index: 10; overflow: hidden; }

#pageMain .limitBuy .lb_l .changeTab > div .secTab > div:nth-child(1) li { padding: 0px 8px; background: #efefef; color: #666; float: left; margin-left: 5px; }

#pageMain .limitBuy .lb_l .changeTab > div .secTab .secTab2 ul li:nth-child(1) { background: #eb6161; color: #fff; }

#pageMain .limitBuy .lb_l .changeTab > div .active div:nth-child(1) { display: block; }

#pageMain .limitBuy .lb_r { height: 303px; width: 310px; float: right; }

#pageMain .limitBuy .lb_r > h2 { height: 50px; line-height: 50px; text-align: center; background: #ef5752; color: #fff; font-size: 18px !important; letter-spacing: 1px; }

#pageMain .limitBuy .lb_r .limitBox { width: 308px; height: 251px; background: #fff; /*重置轮播样式*/ }

#pageMain .limitBuy .lb_r .limitBox h3 { height: 40px; width: 308px; line-height: 40px; color: #333; text-align: center; overflow: hidden; padding: 0px 20px; font-size: 16px; font-family: 'Microsoft yahei'; }

#pageMain .limitBuy .lb_r .limitBox a { display: block; width: 308px; height: 170px; text-align: center; }

#pageMain .limitBuy .lb_r .limitBox a img { margin: 0 auto; width: 170px; height: 170px; vertical-align: middle; }

#pageMain .limitBuy .lb_r .limitBox .z_price1 { height: 25px; line-height: 25px; font-size: 18px !important; color: #f54343; padding-left: 20px; }

#pageMain .limitBuy .lb_r .limitBox .z_del { height: 25px; line-height: 25px; font-size: 13px; color: #999; padding-left: 10px; }

#pageMain .limitBuy .lb_r .limitBox .page { padding: 0; }

#pageMain .limitBuy .lb_r .limitBox .page span { margin-left: 5px; border-radius: 0; width: 30px; height: 8px; background-color: rgba(255, 0, 0, 0.4); box-shadow: 0 0 3px rgba(255, 0, 0, 0.5); }

#pageMain .limitBuy .lb_r .limitBox .page span.active { background-color: rgba(255, 0, 0, 0.8); }

#pageMain .channel { height: 122px; background-color: salmon; margin-top: 20px; }

#pageMain .floor_1st .fl_1st_t { height: 53px; background-color: seagreen; }

#pageMain .floor_1st .fl_1st_b { height: 477px; background-color: royalblue; }

#pageMain .floor_2nd .fl_2nd_t { height: 53px; background-color: seagreen; }

#pageMain .floor_2nd .fl_2nd_b { height: 477px; background-color: royalblue; }

#pageMain .floor_3rd .fl_3rd_t { height: 53px; background-color: seagreen; }

#pageMain .floor_3rd .fl_3rd_b { height: 477px; background-color: royalblue; }

#pageMain .floor_4th .fl_4th_t { height: 53px; background-color: seagreen; }

#pageMain .floor_4th .fl_4th_b { height: 477px; background-color: royalblue; }

#pageMain .floor_5th .fl_5th_t { height: 53px; background-color: seagreen; }

#pageMain .floor_5th .fl_5th_b { height: 172px; background-color: grey; }

#pageMain .link { height: 170px; background-color: plum; margin-top: 20px; }

#pageMain .longImg { height: 90px; margin-top: 20px; }

/*footer*/
#pageFooter .footer_t { height: 192px; margin-top: 20px; background-color: #F03B43; }

#pageFooter .footer_b { height: 130px; background-color: goldenrod; }
